/* AboutUs.css */

.about-us-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3%;
}

.about-us-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2%;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    /*margin-top: 10%;*/
    height: auto;
}

.text-block h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5%;
    height: auto;
}

.text-block p {
    font-size: 1.04rem;
    line-height: 1.6;
    margin-bottom: 4%;
}

.contact-link {
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    /*background-color: #8a8a9c;*/
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: -1.4%;
    display: inline-block;
    width: auto;
    box-sizing: border-box;
}

.contact-link:hover {
    text-decoration: underline;
}

.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    overflow: hidden;
}

.image-block img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center 20%;
}

.quote-block {
    background-color: #3a3838;
    color: white;
    padding: 20px;
    text-align: left;
    margin-top: 3%;
}

.quote-block p {
    font-size: 1.2rem;
    line-height: 1.9;
    margin: 0;
}
