.back-to-main{
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.back-to-main img{
    width: 20px;
    height: 20px;
}

.back-to-main:hover{
    background-color: #555;
}